#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.TodoApp__list {
  border-top: 1px solid darkgray;
}

.TodoApp__list > p {
  font-size: 2rem;
}

#remainingTodos {
  font-style: italic;
  font-size: 1.2rem;
  color: gray;
  width: 150px;
  border-radius: 50px;
}

ul {
  list-style: none;
  text-align: left;
}

ul > li {
  font-size: 1.3rem;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.taskCheck {
  margin-right: 1rem;
}

.buttonDelete {
  font-size: 1rem;
  margin-left: 2rem;
}
